.custom-form {
  display: flex;
  align-items: center;
  width: 100%;
}

.custom-form-control {
  width: auto;
}

.navbar-toggler {
  margin-left: auto;
}

.custom-dropdown-toggle {
  width: 173px;
  height: 34px;
  padding: 2px 12px !important;
  gap: 10px;
  border-radius: 4px !important;
  opacity: 1;
  background: #d0edee !important;
  color: #365758 !important;
  font-weight: 700 !important;
  border: none !important;
}

.custom-dropdown-toggle:focus {
  box-shadow: none;
}

.custom-dropdown-toggle-2 {
  width: 37px;
  height: 34px;
  padding: 2px 12px !important;
  gap: 10px;
  border-radius: 4px !important;
  opacity: 1;
  background: #d0edee !important;
  color: #365758 !important;
  font-weight: 700 !important;
  border: none !important;
  margin-left: 6px;
}

.custom-dropdown-toggle-3 {
  width: 250px;
  height: 34px;
  padding: 4px 12px !important;
  gap: 10px;
  border-radius: 4px !important;
  opacity: 1;
  background: #d0edee !important;
  color: #365758 !important;
  font-weight: 700 !important;
  border: none !important;
  margin-left: 6px;
}
