.product-card {
  position: relative !important;
  border: 2px solid transparent !important;
  border-radius: 0 !important;
}

.custom-border {
  border-color: #28e3e9 !important;
  border-radius: 15px 0 15px 0 !important;
}

.product-card .card-img-top {
  width: 40% !important;
  height: auto !important;
  margin-top: 10px !important;
  margin-bottom: 10px !important;
  display: block !important;
  margin-left: auto !important;
  margin-right: auto !important;
}

.product-card .card-body {
  background-color: rgba(98, 195, 198, 0.3) !important;
}

.product-card .card-title {
  font-family: "Sora", sans-serif !important;
  font-size: 18px !important;
  font-weight: 600 !important;
  line-height: 22.68px !important;
  letter-spacing: 0.01em !important;
  text-align: left !important;
  margin-top: 18px !important;
  margin-right: 20px !important;
  color: #116a6c !important;
}

.custom-button {
  width: 75px !important;
  height: 24px !important;
  padding: 2px 10px !important;
  gap: 10px !important;
  border-radius: 4px 0 0 0 !important;
  border: 0 0 2px 0 !important;
  font-family: "Sora", sans-serif !important;
  font-size: 16px !important;
  font-weight: 600 !important;
  line-height: 20.16px !important;
  letter-spacing: 0.01em !important;
  text-align: left !important;
  opacity: 1 !important;
  color: #365758 !important;
  background: #62c3c64d !important;
  border: none !important;
}

.custom-button-1 {
  height: 24px !important;
  width: 39% !important;
  padding: 2px 10px !important;
  border-radius: 4px 0 0 0 !important;
  border: 0 0 2px 0 !important;
  font-family: "Sora", sans-serif !important;
  font-size: 16px !important;
  font-weight: 600 !important;
  line-height: 20.16px !important;
  letter-spacing: 0.01em !important;
  text-align: left !important;
  border: none !important;
}

.custom-button:hover,
.custom-button-1:hover {
  background: #62c3c64d !important;
  color: #365758 !important;
  border: none !important;
}

.button-group {
  margin-top: 6px !important;
  width: 300px !important;
  height: 28px !important;
  display: flex !important;
  align-items: center !important;
  justify-content: space-between !important;
}

.button-graphics-one {
  width: 120px !important;
  height: 28px !important;
  padding: 4px 10px !important;
  gap: 10px !important;
  border-radius: 4px !important;
  background: #fcfcfa !important;
  color: #116a6c !important;
  font-size: 16px !important;
  font-weight: 400 !important;
  line-height: 20.16px !important;
  text-align: left !important;
  border: none !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}

.button-graphics-two {
  width: 100px !important;
  height: 28px !important;
  padding: 4px 10px !important;
  gap: 10px !important;
  border-radius: 4px !important;
  background: #62c3c6 !important;
  color: white !important;
  font-size: 16px !important;
  font-weight: 400 !important;
  line-height: 20.16px !important;
  text-align: left !important;
  border: none !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}

.button-graphics-three {
  background: none !important;
  border: none !important;
}

.button-graphics-four {
  width: 97px !important;
  height: 28px !important;
  padding: 4px 10px !important;
  gap: 10px !important;
  border-radius: 4px !important;
  background-color: rgba(98, 195, 198, 0.3) !important;
  color: #116a6c !important;
  font-size: 16px !important;
  font-weight: 400 !important;
  line-height: 20.16px !important;
  text-align: left !important;
  border: none !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}

.circle-btn-image {
  width: 24px !important;
  height: 24px !important;
  background: none !important;
  object-fit: cover !important;
}

.text-parent-group {
  margin-top: 32px !important;
}

.text-group {
  display: flex !important;
  justify-content: space-between !important;
  margin: 2px 54px 0px 10px !important;
}

.left-text {
  font-size: 14px !important;
  color: #116a6c !important;
}

.right-text {
  font-size: 14px !important;
  color: #116a6c !important;
}

.info-container {
  display: flex !important;
  justify-content: space-between !important;
  margin: 10px 0 !important;
}

.left-div {
  display: flex !important;
  flex-direction: column !important;
  align-items: flex-start !important;
}

.top-text {
  display: flex !important;
  align-items: center !important;
  gap: 4px !important;
  font-size: 30px !important;
  color: #116a6c !important;
  font-weight: 800 !important;
  font-family: "__Inter_36bd41" !important;
}

.top-text-left {
  color: #62c3c6 !important;
}

.bottom-text {
  font-family: "Sora", sans-serif !important;
  font-size: 14px !important;
  font-weight: 400 !important;
  color: #116a6c !important;
}

.right-div {
  display: flex !important;
  align-items: center !important;
}

.add-to-cart-button {
  background: #ecfeaa !important;
  color: #365758 !important;
  font-size: 16px !important;
  border: none !important;
  border-radius: 24px 0px 24px 0px !important;
  padding: 6px 12px !important;
  letter-spacing: 1px !important;
}

.add-to-cart-button:hover {
  background: #2b4a4a !important;
}
